﻿@{
    ViewBag.Title = "Home Page";
}
@model instaparser.Models.InstaModel
<div class="row mt-5 wrapper">
    <div class="col-md-12">
        <div class="text-center text-white ">
            <p class="free-text">
                Бесплатный и удобный web-сервис<br /> для парсинга аудитории <span class="">в социальных сетях</span>
            </p>
            <p class="maintext">
                Продвигайте аккаунты, с результатом в первый же день.
                Живые подписчики и клиенты, без ботов и накруток.<br />
                Для возможности масслайкинга и массфоловинга необходимо авторизоваться под своей учетной записью Instagram
            </p>
            @using (Html.BeginForm("Authorize", "Insta", FormMethod.Post))
            {
                <div class="form-row mt-5 ">
                    <div class="col-md-3 col-1">

                    </div>
                    <div class="col-md-2 col-10">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control text-center", @placeholder = "Логин" })
                    </div>
                    <div class="col-md-2 col-10">
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control text-center", @placeholder = "Пароль" })
                    </div>
                    <div class="col-md-2">
                        <button id="save" type="submit" class="btn btn-primary">Авторизация</button>

                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Work", "Insta")'">Только парсинг</button>
                    </div>

                </div>
            }

        </div>
    </div>
    @Html.ValidationSummary(true)
</div>