﻿@model instaparser.Models.InstaModel
<style>
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="form-border  text-center">
                <h3>Подписчики или подписки</h3>
                @using (Html.BeginForm("WorkWithUser", "Insta"))
                {
                    @Html.AntiForgeryToken()
                    <div class="row text-center">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="text-right">Список пользователей:</label>
                                @Html.TextAreaFor(m => m.Username, new { @class = "form-control  pull-right", @placeholder = "Введите список пользователей (логин, с новой строки)" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="text-left">Сбор по:</label>
                                @Html.DropDownListFor(m => m.Action, new SelectList(new List<string>() { "Подписчики", "Подписки" }), new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label class="text-left">Виды аккаунтов:</label>
                                @Html.DropDownListFor(m => m.Species, new SelectList(new List<string>() { "Публичные", "Приватные", "Все" }), new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label class="text-left">Количество пользователей:</label>
                                @Html.TextBoxFor(m => m.Count, new { @class = "form-control", @type = "number", @min = "1", @placeholder = "Количество" })
                            </div>
                            <div class="form-group text-center">
                                <label class="text-left">Фильтр нежелательных слов</label>
                                @Html.TextBoxFor(m => m.WordsForFilter, new { @class = "form-control", @placeholder = "Слова через запятую" })
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Скачать</button>
                }
            </div>
        </div>
        @Html.ValidationSummary(true)

        <div class="col-md-6">
            <div class="form-border text-center" id="photo">
                <h3>Скачать фото</h3>
                @using (Html.BeginForm("GetImages", "Insta", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="row text-center">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="text-right">Список пользователей:</label>
                                @Html.TextAreaFor(m => m.Username, new { @class = "form-control  pull-right", @placeholder = "Введите список пользователей (логин, с новой строки)" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="text-left">Тип контента:</label>
                                @Html.DropDownListFor(m => m.Species, new SelectList(new List<string>() { "Фотографии", "Видео", "Все" }), new { @class = "form-control" })
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="text-left">С:</label>
                                        @Html.TextBoxFor(m => m.Date1, new { @class = "form-control", @type = "date" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="text-left">По:</label>
                                        @Html.TextBoxFor(m => m.Date1, new { @class = "form-control", @type = "date" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text-left">Количество постов:</label>
                                @Html.TextBoxFor(m => m.Count, new { @class = "form-control", @type = "number", @min = "1", @placeholder = "Количество постов" })
                            </div>
                            <div class="form-group">
                                <label class="text-left">Количество лайков:</label>
                                @Html.TextBoxFor(m => m.Count, new { @class = "form-control", @type = "number", @min = "1", @placeholder = "Количество лайков" })
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Скачать</button>
                }
            </div>
        </div>
    </div>
</div>