﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","Insta")">Главная</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Work","Insta")">Парсинг</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Вконтакте</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Одноклассники</a>
        </li>
    </ul>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="container text-white">
        <div class="row text-left" style="margin-top:30%;">
            <div class="col-lg-8">
                <p class="text-white">Альмир шарифуллин - 2018</p>
            </div>
            <div class="col-lg-4">
                <p class="text-center blue">

                    @{
                        try
                        {
                            //if (Request.Cookies["username"].Value != null)
                            //{
                            Write("Авторизованы под аккаунтом: " + Request.Cookies["username"].Value.ToUpper());
                            //}
                        }
                        catch (Exception e)
                        {
                            Write("Вы не авторизованы");
                        }
                    }
                </p>
            </div>

        </div>

    </footer>
</body>

</html>
